.book {
  width:80%; height:300px;
  clear : both;
  margin:auto;
  border-bottom:1px solid lightgray;
  /* padding:5px 0; */
  overflow:hidden;
  margin-top:10px;
}
.booklist {
  width:75%;
  margin:auto;
  /* border: 1px solid red; */
  overflow: hidden;
  /* padding:10px; */
}
.button_list {
  background-color: white;
  color:#515151;
}
.button_buy {
  background-color: rgb(25, 157, 179);
  color:#FFFFFF;
}
.button_cart {
  background-color: rgb(25,106,179);
  color:#FFFFFF;
}
.bookbuy button:nth-child(1) {margin-top:5px;}
.bookbuy button {
  border:1px solid lightgray;
  border-radius: 0.2rem;
  font-weight: bold;
  display:block;
  clear:both;
  width:100%;  
  margin:auto;
  padding:8px 0;
  margin-bottom:3px;  
}
.quantity :nth-child(3){
  background-color: white;
  padding:0px 10px;
}
.quantity span{
  /* padding-top:0.2rem; */
  border:1px solid lightgray;
  border-radius: 0.2rem;
  background-color: rgb(243, 242, 242);
  width:30px; height:28px;
  display:block;
  float:left;
}
.quantity input[type='checkbox'] {
  width:30px; height:30px;
  border:1px solid lightgray;
  /* border-radius: 0.2rem; */
  /* background-color: rgb(243, 242, 242); */
  display:block;
  float:left;
  margin-top:0px;
}
.quantity p{
  text-align:center;
}
.quantity p {
  justify-content: space-between;
  /* border:1px solid blue; */
  width:100%;
  overflow:hidden;
}
.bookbuy {
  width:180px;
  /* border:1px solid tomato; */
  float:right;
  padding-right:100px;
}
.bookcontent {
  /* border:1px solid green; */
  width:50%; 
  float:left;
}
.bookavata_button {
  width:100px;
  padding:5px 10px;
  font-weight: bold;
  background-color: white;
  border:1px solid lightgray;
  border-radius: 0.3rem;
  /* margin-top:10px; */
}
.bookavata_image {
  /* border:1px solid red; */
  width:125px; height:185px; 
  margin: 0.5rem 0;
}
.bookavata {
  /* border:1px solid red; */
  width:200px; height:330px;
  text-align:center;
  padding-left:30px;
  float:left;
}
.content{
  clear:both;
}
.menu:hover{
  text-decoration:underline;
}
.menu {
  text-decoration: none;
  width:210px;
  padding:20px 0px;
  text-align: center;
  color:white;
  font-weight: bold;
  background-color: mediumseagreen;
  border:1px solid lightgray;
  float:left;
}
.nav_header {
  /* border:1px solid red; */
  width:57%;
  margin:auto;
  overflow:hidden;
  margin-bottom: 30px;
}